# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# Alembic
*.pyc

# Logs
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Node
node_modules/
dist/

# Build
build/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.egg-info/