fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

python-multipart
pandas

pytest
httpx

python-dotenv
pydantic-settings
email-validator